.company-priority-1000 {
    font-weight: bold;
}

.company-priority-100 {
    font-weight: lighter;
}

div.col-auto label.form-check-label {
    display: block;
    margin-left: 1rem;
    padding-top: 0.5rem;
}
