{% extends "registration/base.html" %}

{% block form_errors %}
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p><br />
  {% endif %}
  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p><br />
    {% endif %}
  {% endif %}
{% endblock %}

{% block form%}
  <form method="post" action="{% url 'login' %}" role="form">
    <div class="row">
      {% csrf_token %}
      <table cellpadding=5>
        <tr>
          <td class="text-end">{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <td class="text-end">{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </tr>
      </table>
    </div>
    <div class="row">
      &nbsp;
    </div>
    <div class="row">
      <input type="hidden" name="next" value="{{ next }}">
      <input type="submit" value="Log in" class="btn btn-primary btn-block">
    </div>
  </form>
{% endblock %}
