{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html>
  {% block head %}
    <head>
      <title>{{ title }}</title>
      <link rel="shortcut icon" type="image/svg+xml"
            href="{% static 'main/briefcase.svg' %}" />
      {% bootstrap_css %}
      {% bootstrap_javascript %}
      {% block head_extras %}
      {% endblock %}
    </head>
  {% endblock %}

  {% block body %}
    <body>
      {% block header %}
        {% if user.is_authenticated %}
          <div class="container-fluid bg-dark text-light p-2">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-4">
                  <h1>
                    <img src="{% static 'main/briefcase.svg' %}" height=32 width=32 class="align-baseline" />
                    <a href="{% url 'index' %}" class="link-light text-decoration-none">Autojob database</a>
                  </h1>
                </div>
                <div class="col-sm-8 text-sm-end">
                  Welcome, <b>{{ request.user }}</b> |

                  <form action="{% url 'logout' %}" method="post" class="d-inline-block">
                    <input type="hidden" name="next" value="{{ request.path }}" />
                    {% csrf_token %}
                    <button type="submit" class="border-0 p-0 align-baseline btn btn-link link-info"><b>Log Out</b></button>
                  </form>

                  <br />

                  <a href="{% url 'queue_htmx' %}" class="link-info">Postings Queue</a> |
                  <a href="{% url 'personal:index' %}" class="link-info">Database Portal</a>
                  {% if request.user.is_staff %}
                    / <a href="{% url 'admin:index' %}" class="link-info">Admin</a>
                  {% endif %}
                  |
                  <a href="{% url 'api-root' %}" class="link-info">API</a>
                  (
                  <a href="{% url 'redoc' %}" class="link-info">Docs</a>,
                  <a href="{% url 'swagger-ui' %}" class="link-info">Swagger</a>
                  )

                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endblock %}

      <div class="p-2">
        {% block content %}
        {% endblock %}
      </div>
    </body>
  {% endblock %}
</html>
