{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html>
  {% block head %}
    <head>
      <title>{{ title }}</title>
      <link rel="shortcut icon" type="image/svg+xml"
            href="{% static 'main/briefcase.svg' %}" />
      {% bootstrap_css %}
      {% bootstrap_javascript %}
      <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}" />
      {% block head_extras %}
      {% endblock %}
    </head>
  {% endblock %}

  {% block body %}
    <body>
      {% block header %}
        {% include 'main/base_header.html' %}
      {% endblock %}

      <div class="p-2">
        {% block content %}
        {% endblock %}
      </div>
    </body>
  {% endblock %}
</html>
