{% extends "main/base.html" %}

{% block content %}
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col">
        <h2>Your Applications</h2>
        <a href="{% url 'queue_htmx' %}">Available postings: <b>{{ posting_queue.count }}</b></a>
        (<a href="{% url 'queue_by_company_htmx' %}">{{ posting_queue_companies.count }} companies</a>)<br />
        <a href="{% url 'application_htmx' %}">Your applications: <b>{{ your_apps.count }}</b></a>
        {% if unreported_apps_count %}
          (<a href="{% url 'application_htmx' %}?reported=false"><b>{{ unreported_apps_count }}</b> unreported</a>)
        {% endif %}
        <br />
        <br />
        <div class="container-fluid p-0">
          <div class="row">
            {% if posting_queue_companies.count %}
              <div class="col">
                <h4><a href="{% url 'queue_by_company_htmx' %}">Top available postings</a></h4>
                <ul>
                  {% for c in posting_queue_companies|slice:"0:10" %}
                    <li><span class="company-priority-{{ c.priority }}">
                      <a href="{% url 'queue_htmx' %}?company={{ c.name }}">{{ c.name }}</a>
                      ({{ c.count }} postings)
                    </span>
                    </li>
                  {% endfor %}
                </ul>
                <br />
              </div>
            {% endif %}
            {% if your_apps_company_count.count %}
              <div class="col">
                <h4><a href="{% url 'application_by_company_htmx' %}">Your top applications</a></h4>
                <ul>
                  {% for c in your_apps_company_count|slice:"0:10" %}
                    <li>
                      <a href="{% url 'application_htmx' %}?company={{ c.name }}">{{ c.name }}</a>
                      ({{ c.count }} applications)</li>
                  {% endfor %}
                </ul>
                <br />
              </div>
            {% endif %}
          </div>
        </div>
        <h2>Profile</h2>
        <a href="{% url 'personal:main_apikey_changelist' %}">API keys</a><br />
        <a href="{% url 'user_profile_edit' %}">Edit user profile</a><br />
        <br />
        Name: <b>{{ request.user.first_name }} {{ request.user.last_name }}</b><br />
        Email: {{ request.user.email|default:'(none)' }}<br />
        Phone: {{ request.user.phone|default:'(none)' }}<br />
        LinkedIn:
        {% if request.user.linkedin %}
          <a href="{{ request.user.linkedin }}" target="_blank" rel="noopener noreferrer">
            {{ request.user.linkedin }}
          </a>
        {% else %}
          (none)
        {% endif %}<br />
        <br />
      </div>
      <div class="col">
        <h2>Total Data</h2>
        <a href="{% url 'company_htmx' %}">Companies with postings:
          <b>{{ companies_with_postings.count }}</b></a><br />
        <a href="{% url 'posting_htmx' %}">Open postings:
          <b>{{ posting_open.count }}</b></a>
        ({{ posting.count}} total)
        <br />
        <br />
        {% if leaderboard.count %}
          <h2>Leaderboard</h2>
          <ul>
            {% for u in leaderboard|slice:"0:10" %}
              <li>
                <b>{{ u.user__first_name|default:u.user__username }}</b>
                ({{ u.count }} applications)</li>
            {% endfor %}
          </ul>
        {% endif %}
        <div class="container-fluid p-0">
          <div class="row">
            <div class="col">
              <h4><a href="{% url 'company_completion_stats_htmx' %}">Company completion stats</a></h4>
              <br />
            </div>
          </div>
          <div class="row">
            {% if leaderboard_companies.count %}
              <div class="col">
                <h4>Top companies</h4>
                <ul>
                  {% for c in leaderboard_companies|slice:"0:10" %}
                    <li>
                      <a href="{% url 'posting_htmx' %}?company={{ c.name }}">{{ c.name }}</a>
                      ({{ c.apps_count }} total applications)</li>
                  {% endfor %}
                </ul>
                <br />
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
