{% extends "main/base.html" %}
{% load static %}

{% block head_extras %}
  <link rel="stylesheet" type="text/css" href="{% static 'main/table.css' %}" />
  <script src="{% static '/main/htmx.min.js' %}" defer></script>
{% endblock %}

{% load render_table from django_tables2 %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>{{ table_title }}</h1>
  <form hx-get="{{ table_htmx_route }}"
        hx-target="div.table-container"
        hx-swap="outerHTML"
        hx-indicator=".progress"
        class="form-inline">
    {% crispy filter.form %}
  </form>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  {% render_table table %}
{% endblock %}
